In [121]:
type(99.9)

float

In [122]:
type("False")

str

In [123]:
type(False)

bool

In [124]:
type('0')

str

In [125]:
type(0)

int

In [126]:
type(True)

bool

In [127]:
type('True')

str

In [128]:
type([{}])

list

In [129]:
type({'a':[]})

dict

# 2.

<li> <b> A term or phrase typed into a search box </b> </li>
<body> String </body>
<li> <b> Whether or not a user is logged in </b> </li> 
<body> Boolean </body>
<li> <b> A discount amount to apply to a user's shopping cart </b> </li>
<body> Float </body>
<li> <b> Whether or not a coupon code is valid </b> </li>
<body> Boolean </body>
<li> <b> An email address typed into a registration form </b> </li> 
<body> String </body>
<li> <b>The price of a product</b></li> 
<body> Float </body>
<li> <b>The email addresses collected from a registration form</b></li> 
<body> Dictionary / String </body>
<li><b> Information about applicants to Codeup's data science program</b></li> 
<body> Dictionary </body>

In [130]:
'1' + 2
# will not run due to type error

TypeError: can only concatenate str (not "int") to str

In [ ]:
6 % 4
# remainder is 2

2

In [ ]:
type(6 % 4)
# int

int

In [ ]:
type(type(6 % 4))
# type

type

In [ ]:
'3 + 4 is ' + 3 + 4
# type error

TypeError: can only concatenate str (not "int") to str

In [ ]:
0 < 0
# false

False

In [ ]:
'False' == False
# False

False

In [ ]:
True == 'True'
# False

False

In [ ]:
5 >= -5
# True

True

In [ ]:
True or "42"
# True

True

In [ ]:
6 % 5
# 1

1

In [ ]:
5 < 4 and 1 == 1
# False

False

In [ ]:
'codeup' == 'codeup' and 'codeup' == 'Codeup'
# false

False

In [ ]:
4 >= 0 and 1 !== '1'
# invalid syntax

SyntaxError: invalid syntax (3717176738.py, line 1)

In [ ]:
6 % 3 == 0
# true

True

In [ ]:
5 % 2 != 0
# True

True

In [ ]:
[1] + 2
# type error

TypeError: can only concatenate list (not "int") to list

In [ ]:
[1] + [2]
# added list

[1, 2]

In [ ]:
[1] * 2
# multiplied number of number within list

[1, 1]

In [ ]:
[1] * [2]
# type error

TypeError: can't multiply sequence by non-int of type 'list'

In [ ]:
[] + [] == []
# true

True

In [ ]:
{} + {}
# type error / cannot add dictionaries

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

### **4. Describe the following scenarios. You will need to create and assign variables and use operators.**


### **5. You have rented some movies for your kids:**

#### The Little Mermaid for 3 days
#### Brother Bear for 5 days
#### Hercules for 1 day
### *If the daily fee to rent a movie is 3 dollars, how much will you have to pay?*

In [ ]:
the_little_mermaid = 3
brother_bear = 5
hercules = 1
total_cost = (the_little_mermaid + brother_bear + hercules) * 3

total_cost
# 27

27


### **6. Suppose you're working as a contractor for 3 companies: Google, Amazon and Facebook.**

### They pay you the following hourly rates:

#### Google: 400 dollars
#### Amazon: 380 dollars
#### Facebook: 350 dollars
#### This week you worked: 10 hours for Facebook, 6 hours for Google and 4 hours for Amazon.

### *How much will you receive in payment for this week?*

In [ ]:
google = 400 * 6
facebook = 350 * 10
amazon = 380 * 4
total_pay = google + facebook + amazon

total_pay
# 7420

7420

### 7. A student can be enrolled to a class only if the class is not full and the class schedule does not conflict with her current schedule.

In [136]:
max_classes = 5
student_x = {'schedule': ['sci', 'sos', 'spa', 'eng']}
full_class = 50
new_class = ''
student = ''
print(len(student_x['schedule']))

4

In [139]:
def class_capability(student):
    if len(student_x['schedule']) > max_classes and new_class > 50:
        print('Cannot take more classes.')
    else:
        print('Good to go.')

class_capability(student_x)

Good to go.

### 8. A product offer can be applied only if people buys more than 2 items, and the offer has not expired. Premium members do not need to buy a specific amount of products.

In [140]:
member_cart = 0
expired = 'nov 17'
prod_offer = member_cart >= 2 and expired > 'nov 17'

member_cart = 3
cart_min = 2
premium_member = True

member = member_cart > 2 and premium_member


def offer_checker(member):
    if prod_offer == True:
        print('Offer Valid: 15% Off')
    elif member == premium_member:
        print('Offer Valid: 20% Off')
    else:
        print('Offer not valid anymore.')

offer_checker(member)

Offer Valid: 20% Off

In [ ]:
username = 'codeup'
password = 'notastrongpassword'

In [ ]:
weak_password = len(password) <= 5
long_username = len(username) < 20
invalid_password = password != username

bad_password = weak_password or long_username or invalid_password